<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShowMe</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://kit.fontawesome.com/b180e6371d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
   
    <div class="container login-container">
        
    <div class="card">
        <div class="card-content">
            <h3><i class="fa-solid fa-tv"></i>ShowMe</h3>
            <div class="section"><p class="lead">Create a list with all your favorite shows!</p></div>
            <div class="divider"></div>
            <div class="section">
                <a href="/login"> Login</a>
                <a href="/signup"> Signup</a>
            </div>
            
        </div>
        
    </div>
    
    </div>
    
</body>
</html>