<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/style.css">
    <link type="text/css" rel="stylesheet" href="/css/materialize.css"  media="screen,projection"/>
    <script src="https://kit.fontawesome.com/b180e6371d.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">ShowMe</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/todos">Watchlist</a></li>
                <li><a class="waves-effect waves-light btn" href="/logout">Log Out</a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="/todos">Watchlist</a></li>
        <li><a class="waves-effect waves-light btn" href="/logout">Log Out</a></li>
    </ul>
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <form action="/signup" method="POST">
        <input type="text" name="userName" placeholder="User Name">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="confirmPassword" placeholder="Confirm Password">
        <input type="submit">
    </form>
    <script src="/js/main.js"></script>
    <script type="text/javascript" src="/js/materialize.js"></script>
</body>
</html>