body{
    background-color: darkgrey;
}

h1{
    color: rgb(238	110	115);
}
.completed{
    text-decoration: line-through;
    color: rgb(0, 0, 0);
}
.not{
    text-decoration: underline;
}

li{
 list-style: none;
}

.hidden{
    display: none;
}

.main{
    display: flex;
    justify-content: center;
    margin: 1rem;     
    padding: 1rem;
}
.schedule{
    margin: 1rem;
    padding: 1rem;
}
.name{
    text-transform: capitalize;
}
.list{
    display: flex;
    flex-wrap: wrap;
}
@media only screen and (min-width: 810px) {
    .list{
        display: flex;
        flex-wrap: nowrap;
    }
}

.watchListItem span {
    margin: 5px;
}
.showList{
    text-align: center;
    width: fit-content;    
}

.watchCount{
    padding: 10px;
    text-align: center;
}

.summaryDisplay{
    width: 50%;
}

body {
    font-size: 16px;
}

.card .card-content{
    text-align: center;
    min-height: 11.5rem;
}
.card .card-image .sumImg {
    display: none;
}
@media only screen and (min-width: 810px) {
    .card .card-image .sumImg {
        display: block;
    }
}
@media only screen and (min-width: 993px) {
    .card .card-content {
        min-height: 16.5rem;
  }
}
@media only screen and (min-width: 1219px) {
    .card .card-content {
        min-height: 13.5rem;
  }
}
@media only screen and (min-width: 1784px) {
    .card .card-content {
        min-height: 11.5rem;
  }
}
.brand-logo {
    margin-left: 1rem;
}
.resultImg{
    height: 400px;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.searchContainer {
    padding: 1rem 0;
}

