body{
    background-color: darkgrey;
}

h1{
    color: red;
}
.completed{
    text-decoration: line-through;
    color: rgb(0, 0, 0);
}
.not{
    text-decoration: underline;
}

li{
 list-style: none;
}

.hidden{
    display: none;
}

.main{
    display:flex;
    
}

.showList{
    width:50%;
}

.summaryDisplay{
    width:50%;
}

body {
    font-size: 16px;
}

.card-content{
    text-align: center;
}
.brand-logo {
    margin-left: 1rem;
}