body{
    background-color: darkgrey;
}

h1{
    color: rgb(238	110	115);
}
.completed{
    text-decoration: line-through;
    color: rgb(0, 0, 0);
}
.not{
    text-decoration: underline;
}

li{
 list-style: none;
}

.hidden{
    display: none;
}

.main{
    
   
}

.showList{
    
}

.watchCount{
    padding: 10px;
    text-align: center;
}

.summaryDisplay{
    width: 50%;
}

body {
    font-size: 16px;
}

.card-content{
    text-align: center;
}
.brand-logo {
    margin-left: 1rem;
}
.resultImg{
    height: 400px;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.searchContainer {
    padding: 1rem 0;
}

